*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

/* --------------container-started------------- */
.container{
    max-width: 1320px;
    margin: auto;
}


.container-full{
    width: 100%;
}

/* --------------container-end------------- */





/* -------------------slider-start--------------- */
.slick-next:before{
    content: "➡️" !important;
    color: black !important;
}
.slick-prev:before{
    content: "⬅️" !important;
    color: black !important;
}

.sli-img img{
    object-fit: cover;
}

/* --------------------slider-end---------------------- */

/* -------------flex-started------------ */

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justy-cen{
    display: flex;
    justify-content: center;
}

.j-end{
    justify-content: end;
}


/* -------------flex-end------------ */

/* -------------bg-color-start-------------- */

.bg-color{
    background-color: rgb(252, 249, 249);
}

.bg-color-2{
    background-color: #f8f9fd;
}

.back-color{
    background-color: white;
}
.bg-weat{
    background-color: rgb(248,245,239);
}

.bg-brown{
    background-color: #696969;
}
/* -------------bg-color-start-------------- */


/* -------margin-started------ */
.mt-50{
    margin-top: 50px;
}

/* -------margin-end------ */

/* ------------------------width----------------------- */

.w{
    width: 100%;
}

.w-70{
    width: 70%;
}

/* ----------padding------------ */
.p-5{
    padding: 5px;
}
.p{
  padding: 20px 20px;
}
.p-l{
    padding-left: 30px;
}
.p-t{
    padding-top: 10px;
}
.p-b{
    padding-bottom: 10px;
}
.p-l{
    padding-left: 10px;
}
.p-r{
    padding-right: 10px;
}




.gap{
    gap: 10%;
}
/* ----------padding------------ */



/* ----------------margin-------------------------- */
.margin-left{
    margin-left: 10px;
}
.margin-top{
    margin-top: 30px;
}




/* ----------border-started------------- */
.b-red{
    border: 1px solid red;
}
.b-green{
    border: 1px solid green;
}

.b-blue{
    border: 1px solid blue;
}

.b-gray{
    border: 1px solid gray;
}

.b-orange{
    border: 1px solid orange;
}
.b-black{
    border: 1px solid black;
}


/* ----------border-end------------- */


/* -------------height-started-------------- */

.h-100{
    height: 100px;
}
.h-200{
    height: 200px;
}

.h-300{
    height: 300px;
}

.h-400{
    height: 400px;
}
.h-500{
    height: 500px;
}



/* -------------height-ended-------------- */


/* --------box-shadow-start----------- */

.shadow{
    box-shadow: 1px 1px 4px black;
}

.radius{
    border-radius: 10px;
}
.r-circle{
    border-radius: 50%;
}

.r-circle img{
    border-radius: 50%;
}
.r-50{
    border-radius:360px ;
}



/* --------box-shadow-end----------- */


/* -------------heading-started---------------- */

h1{
    text-align: center;
    font-size: 30px;
    color: brown;
}

h4{
    text-align: center;
}

h3{
    font-size: 30px;
   
}

.color{
    color: #736277;
}
.color-white{
    color: white;
}


/* -------------heading-end---------------- */


/* --------------links-li------------------------ */

.links > a{
    font-size: 20px;
    font-weight: 700;
}


.links > i{
    font-size: 20px;
    font-weight: 700;
}

/* --------------------fonts----------------------- */

.f-20{
    font-size: 20px;
}



/* ----------------dashed--------------- */

.das{
    border-bottom: 1px dotted #736277;
}

/* -----------------------texts------------------ */
.t-a{
    text-align: center;
}

.t-e{
    text-align: end;
}

/* -----------------line-hight--------------------- */
.line-h{
    line-height: 20px;
}
/* -----------input------------------------- */
input{
    background-color: transparent;
    border: 1px solid white;
    
}
input:hover{
    border: 1px solid #2572da;

}
::placeholder {
    color: white;
    opacity: 1; 
  }
  
  /* ------------------inline-block------------------ */

  .d-inbl{
    display: inline-block;
  }

  .button-blue{
    background-color: #2572da;
    border: none;
    color: white;
    
  }

  .button-blue:hover {
    background-color: #6c98d3;
  }